src/assets/gym/*.mov filter=lfs diff=lfs merge=lfs -text
src/assets/gym/*.MOV filter=lfs diff=lfs merge=lfs -text
src/assets/volleyball/*.mov filter=lfs diff=lfs merge=lfs -text
src/assets/volleyball/*.MOV filter=lfs diff=lfs merge=lfs -text

# Treat binary assets as binary so they're never line-ending / text mangled
*.pdf binary
*.png binary
*.jpg binary
*.webp binary
